
html {
  font: message-box;
  font-size: 100%;
  background-color: #FFFFFF;
  color: #000;
  height: 100%;
}

body {
  margin: 0;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
  height: 100%;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

a {
  color: -moz-nativehyperlinktext;
  text-decoration: none;
}

.spacer {
  -moz-box-flex: 1;
}

#topSection {
  text-align: center;
}

#brandLogo {
  height: 192px;
  width: 192px;
  margin: 22px auto 31px;
  background-image: url("chrome://branding/content/about-logo.png");
  background-size: 192px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

#searchForm {
  width: 470px;
}

#searchForm {
  display: -moz-box;
}

#searchLogoContainer {
  display: -moz-box;
  -moz-box-align: center;
  padding-top: 2px;
  -moz-padding-end: 8px;
}

#searchLogoContainer[hidden] {
  display: none;
}

#searchEngineLogo {
  display: inline-block;
  height: 28px;
  width: 70px;
  min-width: 70px;
}

#searchText {
  -moz-box-flex: 1;
  padding: 6px 8px;
  background: #fff padding-box;
  border: 1px solid transparent;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#searchText:hover,
#searchText:focus,
#searchText[autofocus] {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#searchSubmit {
  -moz-margin-start: -1px;
  background: #fff padding-box;
  padding: 0 9px;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 4px;
}

#searchSubmit {
  background-image: url("chrome://global/skin/icons/search-item.svg#state-ac");
  background-size: 110%;
  padding-right: 15px;
  margin-left: -35px;
  transform: scaleX(-1) scale(.7);
  font-size: 0;
}
	
#launcher {
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;
  width: 100%;
}

#launcher:not([session]),
body[narrow] #launcher[session] {
  display: block; /* display separator and restore button on separate lines */
  text-align: center;
  white-space: nowrap; /* prevent navigational buttons from wrapping */
}

.launchButton {
  display: -moz-box;
  -moz-box-orient: vertical;
  margin: 16px 1px;
  padding: 14px 6px;
  min-width: 88px;
  max-width: 176px;
  max-height: 85px;
  vertical-align: top;
  white-space: normal;
  background: transparent padding-box;
  border-radius: 500em;
  border: 1px solid transparent;
  color: #525c66;
  font-size: 75%;
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 200ms;
}

body[narrow] #launcher[session] > .launchButton {
  margin: 4px 1px;
}

.launchButton:hover {
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
}

.launchButton:hover:active {
  box-shadow: inset 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  transition-timing-function: ease-in-out;
}

.launchButton[hidden],
#launcher:not([session]) > #restorePreviousSessionSeparator,
#launcher:not([session]) > #restorePreviousSession {
  display: none;
}

#restorePreviousSessionSeparator {
  width: 3px;
  height: 80px;
  margin: 15px 0;
  display: none;
}

body[narrow] #restorePreviousSessionSeparator {
  margin: 0 auto;
}

#restorePreviousSession {
  max-width: none;
  font-size: 90%;
}

body[narrow] #restorePreviousSession {
  font-size: 80%;
}

.launchButton::before {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 6px;
  line-height: 0; /* remove extra vertical space due to non-zero font-size */
}

#downloads::before {
  content: url("chrome://browser/skin/abouthome/downloads.svg");
}

#bookmarks::before {
  content: url("chrome://browser/skin/abouthome/bookmarks.svg");
}

#history::before {
  content: url("chrome://browser/skin/abouthome/history.svg");
}

#addons::before {
  content: url("chrome://browser/skin/abouthome/addons.svg");
}

#sync::before {
  content: url("chrome://browser/skin/abouthome/sync.svg");
}

#settings::before {
  content: url("chrome://browser/skin/abouthome/settings.svg");
}

#restorePreviousSession::before {
  content: url("chrome://browser/skin/abouthome/restore-large.svg");
  height: 48px; 
  width: 48px;
  display: inline-block; /* display on same line as text label */
  vertical-align: middle;
  margin-bottom: 0;
  -moz-margin-end: 8px;
}

#restorePreviousSession:-moz-dir(rtl)::before {
  transform: scaleX(-1);
}

body[narrow] #restorePreviousSession::before {
  content: url("chrome://browser/skin/abouthome/restore.svg");
  height: 32px;
  width: 32px;
}

/* [HiDPI]
 * At resolutions above 1dppx, prefer downscaling the 2x Retina graphics
 * rather than upscaling the original-size ones (bug 818940).
 */
@media not all and (max-resolution: 1dppx) {
  #brandLogo {
   background-image: url("chrome://branding/content/about-logo@2x.png");
  }
}