html {
  background: #323232;
  margin: 50px 40px 20px 40px;
}

@media (max-width: 640px), (max-height: 640px) {
  html {
    margin: 50px 40px 20px 40px;
  }
}

body {
 padding: 16px;
  max-width: 600px;
  min-width: 200px;
  background-color: transparent;
}

h1 {
  padding-top: 4px;
}

#errorPageContainer {
  border: 0px solid #AAA;
  border-radius: 5px;
  color: #D2D2D2;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 30px 35px 30px 37px;
  line-height: 1.5;
  font-size: 12px;
}

#errorLongContent {
  padding: 1px 0;
  margin-top: -20px;
  color: #D2D2D2 !important;
  box-shadow: none !important;
}

body.private #errorLongContent {
  margin-top: -100px !important;
  padding-right: 15px;
  text-align: justify;
  font-size: 14px;
}

body.private #errorTitleText {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background: transparent !important;
  border: 0px solid #AAA !important;
  box-shadow: none !important;
}

body.private > #errorPageContainer {
  background-image: none;
}

body.private #errorTitle {
  background-image: url("chrome://browser/skin/pb-enabled.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 128px !important;
  width: 100% !important;
  margin-bottom: 110px;
}

body.normal #errorTitle {
  margin-top: 0 !important;
}

body.normal > #errorPageContainer {
  background-position: top right !important;
  background-repeat: no-repeat !important;
}

#clearRecentHistoryDesc {
  margin-top: 2em;
}

#startPrivateBrowsingDesc > button {
  -moz-margin-start: 0;
}

#moreInfo:-moz-dir(rtl) {
  background-position: top right;
}

#moreInfoText {
  text-align: justify;
  margin-bottom: 0;
}

#moreInfoLinkContainer {
  margin-top: 2em;
  text-align: center;
}

button {
  -moz-appearance: none;
  background: #4C4C4C;
  border: 0;
  color: #D2D2D2;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0;
  font-size: .875em;
  font-family: 'Segoe UI', Tahoma, sans-serif;;
  padding: 10px 24px;
  transition: box-shadow 200ms cubic-bezier(255, 255, 255, 255);
}

button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
}

button:active {
  background: #1E1E1E;
}
