/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#warningScreen {
  background: #f7f7f7;
}

#warningBox {
  color: #646464;
  padding: 3em;
  -moz-padding-start: 30px;
  margin-left: 1em;
  margin-right: 1em;
}

#warningInnerBox {
 max-width: 50em;
}

#warningTitle {
  margin: 0 0 .6em 0;
  font-size: 1.6em;
  font-weight: normal;
}


button {
  -moz-appearance: none;
  background: rgb(76, 142, 250);
  border: 0;
  color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0;
  font-size: .875em;
  font-family: Arial, 'Segoe UI', Tahoma, sans-serif;
  padding: 10px 24px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
}

button:active {
  background: rgb(50, 102, 213);
}

#warningText {
  font-size: 15px;
  margin-left: 0;
}

#warningButton {
  margin-top: 0.6em;
}

#showWarningNextTime {
  margin-top: 0.6em;
}

#exclam {
  list-style-image: url("chrome://global/skin/icons/flags_2x.png");
  -moz-margin-end: 2em;
}

#configTreeBody::-moz-tree-cell-text(user) {
  font-weight: bold;
}

#configTreeBody::-moz-tree-cell-text(locked) {
  font-style: italic;
}

#configTree {  
  margin-top: 5px;
  margin-bottom: 5px;
}

#filterRow {
  margin-top: 5px;
}