@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.findbar-closebutton {
  padding: 0;
  -moz-margin-start: 7px;
  -moz-margin-end: 7px;
  -moz-appearance: none;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  -moz-border-image: none !important;
}

#main-window[privatebrowsingmode=temporary] .close-icon {
  list-style-image: url("chrome://global/skin/icons/n_close.png") !important;
}

#main-window[privatebrowsingmode=temporary] .toolbarbutton-text,
#main-window[privatebrowsingmode=temporary] findbar {
  color: white;
}

findbar {
  padding-top: 1px;
  min-width: 1px;
  transition-property: margin-bottom, opacity, visibility;
  transition-duration: 150ms, 150ms, 0s;
  transition-timing-function: ease-in-out, ease-in-out, linear;
}

findbar[hidden] {
  /* Override display:none to make the transition work. */
  display: -moz-box;
  visibility: collapse;
  margin-bottom: -1em;
  opacity: 0;
  transition-delay: 0s, 0s, 150ms;
}

findbar:not(:-moz-lwtheme) {
  background-image: linear-gradient(rgba(0,0,0,.15) 1px, rgba(255,255,255,.15) 1px);
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.findbar-find-next.tabbable > .toolbarbutton-text,
.findbar-find-previous.tabbable > .toolbarbutton-text {
  display: none !important;
}

/* toolbar image for find buttons */ 

.findbar-find-next,
.findbar-find-previous {
  -moz-appearance: none !important;
  border: 0 !important;
  padding: 0 !important;
  border-radius: 3px;
  list-style-image: url("chrome://global/skin/icons/find_nb.png") !important;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 500ms;
}

#main-window[privatebrowsingmode=temporary] .findbar-find-next,
#main-window[privatebrowsingmode=temporary] .findbar-find-previous {
  list-style-image: url("chrome://global/skin/icons/n_find_nb.png") !important;
}

/* find buttons material animation */

.findbar-find-next:hover:not([disabled="true"]),
.findbar-find-previous:hover:not([disabled="true"]) {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
}

#main-window[privatebrowsingmode=temporary] .findbar-find-next:hover:not([disabled="true"]),
#main-window[privatebrowsingmode=temporary] .findbar-find-previous:hover:not([disabled="true"]) {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);	
}

.findbar-find-next:hover:active:not([disabled="true"]), .findbar-find-previous:hover:active:not([disabled="true"]) {
  border-radius: 500em;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  transition-duration: 200ms;
}

#main-window[privatebrowsingmode=temporary] .findbar-find-next:hover:active:not([disabled="true"]),
#main-window[privatebrowsingmode=temporary] .findbar-find-previous:hover:active:not([disabled="true"]) {
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

/* find-next button */

.findbar-find-next {
  -moz-image-region: rect(0 28px 27px 0) !important;
}

.findbar-find-next[disabled="true"] {
  -moz-image-region: rect(0 84px 27px 56px) !important;
}

/* find-previous button */

.findbar-find-previous {
  -moz-image-region: rect(0 56px 27px 28px) !important;
}

.findbar-find-previous[disabled="true"] {
  -moz-image-region: rect(0 112px 27px 84px) !important;
}

/* highlight button */

.findbar-highlight {
  list-style-image: url("chrome://global/skin/icons/find.png") !important;
  -moz-image-region: rect(0px 48px 16px 32px) !important;
}

.findbar-highlight[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px) !important;
}

.findbar-highlight:active, .findbar-highlight[checked="true"] {
  -moz-image-region: rect(48px 48px 64px 32px);
}

.findbar-highlight[checked="true"]:hover {
  -moz-image-region: rect(64px 48px 80px 32px);
}

.find-status-icon {
  list-style-image: none;
  margin-top: 2px;
  margin-bottom: 0px;
  -moz-margin-start: 12px;
  -moz-margin-end: 0px;
  width: 16px;
  height: 16px;
}

.findbar-find-status {
  margin: 0 !important;
  -moz-margin-start: 3px !important;
  padding: 2px !important;
}

.find-status-icon[status="notfound"] {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

.findbar-textbox[status="notfound"] {
  background-color: #FF6666 !important;
}

.findbar-textbox[flash="true"] {
  background-color: yellow !important;
}

.find-status-icon[status="wrapped"] {
  list-style-image: url("chrome://global/skin/icons/wrap.png");
}

.findbar-textbox.findbar-find-fast {
  -moz-appearance: none !important;
  height: 25px !important;
  border-radius: 3px;
  border: 1px solid;
  border-color: #A9A9A9;
  background-color: #FFFFFF;
}

#main-window[privatebrowsingmode=temporary] .findbar-textbox.findbar-find-fast {
  background-color: #626262;
  border-color: #383838;
  color: #FFFFFF;
}

.find-status-icon[status="pending"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

#stylish #findbar {
  background: none !important;
}
