/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * The default namespace for this file is XUL. Be sure to prefix rules that
 * are applicable to both XUL and HTML with '*|'.
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Page background */
*|*:root {
  -moz-appearance: none;
  color: #000;
  background-color: var(--page-background);
  --page-background: #F2F2F2;
  --viewport-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
					 0 1px 5px 0 rgba(0, 0, 0, 0.12),
					 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  --viewport-background: #fff;
  --list-border-color: #F0F0F0;
  --viewport-roundness: 2px;
}

html|html {
  font: message-box;
}

#permissions-header,
#header {
  min-height: 56px;
  -moz-padding-start: 2em;
  -moz-padding-end: 2em;
  background-color: #3367d6;
  color: white;
  transition: min-height 500ms;
}

#permissions-pagetitle,
#tabsListHeading {
  font-size: 140%;
  font-weight: 600;
  color: white;
}
