/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== plugins.css =====================================================
   == Styles used by the about:plugins page.
   ======================================================================= */

@import url("chrome://global/skin/in-content/common.css");

body {
  background: var(--in-content-page-background);
  color: var(--in-content-page-color);
  font: message-box;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

div#outside {
  margin: 40px 48px;
}

#plugs {
  text-align: center;
  font-weight: normal;
}

#noplugs {
  font-weight: normal;
}

div#findpluginupdates {
  margin-top: 2em;
}

.plugname {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: large;
  text-align: start;
  font-weight: bold;
}

dl {
  margin: 0px 0px 3px 0px;
}

table {
  box-shadow: var(--in-content-viewport-shadow);
  background-color: var(--in-content-viewport-background);
  color: #000;
  font: message-box;
  text-align: start;
  width: 100%;
  border-spacing: 0px;
  border: none;
}

th, td {
  padding: 3px;
  border: solid 1px lightgray;
  border-bottom-style: none;
}

th {
  text-align: center;
  background-color: #FAFAFA;
  color: black;
}

th + th,
td + td {
  -moz-border-start: 0px;
}

td {
  text-align: start;
  border-top: 1px solid lightgray;
}

th.type, th.suff {
  width: 25%;
}

th.desc {
  width: 50%;
}
