/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== radio.css ===================================================
  == Styles used by the XUL radio element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: radio ::::: */

radio {
  -moz-appearance: none;
  -moz-box-align: center;
  margin: 2px 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
}

.radio-label-box {
  -moz-margin-start: 3px;
  border: 1px solid transparent;
  padding: 0px;
  -moz-padding-start: 1px;
}

.radio-icon {
  -moz-margin-end: 2px;
}

.radio-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

radio:not([disabled="true"])[focused="true"] .radio-check-box1,
radio:not([disabled="true"])[focused="true"]:hover .radio-check-box1,
radio:not([disabled="true"])[focused="true"]:hover:active .radio-check-box1  {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, .15));
  outline: none;
}

/* ..... disabled state ..... */

radio[disabled="true"] {
  color: rgb(150, 150, 150);
  opacity: .75;
}

/* ::::: radio image ::::: */

.radio-check-box1 {
  -moz-appearance: none;
  -moz-box-align: center;
  min-width: 16px;
  min-height: 16px;
  list-style-image: url("chrome://global/skin/radio/radio.svg#state");
  -moz-image-region: rect(0, 16px, 16px, 0);
  transition-duration: 250ms;
  transition-property: transform, filter;
}

radio:not([disabled="true"]):hover > .radio-check-box1 {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, .15));
}

radio:not([disabled="true"]):hover:active > .radio-check-box1 {
  transform: scale(.9);
}

/* ..... selected state ..... */

radio[selected="true"] > .radio-check-box1 {
  list-style-image: url("chrome://global/skin/radio/radio-marked.svg#state-ac");
}
