/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== textbox.css ==================================================
  == Styles used by the XUL textbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: textbox ::::: */

textbox {
  -moz-appearance: none;
  cursor: text;
  margin: 2px 4px;
  padding: 2px 2px 3px;
  -moz-padding-start: 4px;
  border-bottom: 2px solid;
  -moz-border-bottom-colors: lightgray transparent;
  background-color: transparent;
  color: -moz-FieldText;
}

textbox:not([disabled="true"])[focused] {
  -moz-border-bottom-colors: #3367D6 #3367D6;
}

html|*.textbox-input, 
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

.textbox-contextmenu {
  cursor: default;
}

/* ..... readonly state ..... */

textbox[readonly="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

/* ..... disabled state ..... */

textbox[disabled="true"] {
  cursor: default;
  background-color: #EBEBE4;
  color: #545454;
}

/* ::::: plain textbox ::::: */

textbox.plain {
  -moz-appearance: none !important;
  background-color: transparent;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}

/* ::::: search textbox ::::: */

textbox[type="search"],
textbox[type="search"]:not([disabled="true"])[focused] {
  -moz-appearance: none;
  -moz-padding-end: 5px;
  -moz-padding-start: 34px;
  border: 1px solid transparent;
  background-image: url("chrome://global/skin/icons/search-item.svg#state");
  background-position: .5em;
  background-repeat: no-repeat;
}

.textbox-search-clear {
  list-style-image: url(chrome://global/skin/icons/search-close.svg#state);
  -moz-image-region: rect(0, 16px, 16px, 0);
  margin-left: 5px;
}

.textbox-search-clear:not([disabled]) {
  cursor: pointer;
}

/* ::::: textboxes inside toolbarpaletteitems ::::: */

toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input {
  visibility: hidden;
}


#downloadFolder textbox,
#container textbox,
deck textbox,
#userAgent,
#itemList > installitem textbox {
  box-shadow: none !important;
}
