@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* NOTE - REQUIRES THE FOLLOWING EXTENSION TO FUNCTION CORRECTLY: https://addons.mozilla.org/en-US/firefox/addon/movable-firefox-button/
/* AGENT_SHEET */

#main-window[tabsontop="true"][sizemode="normal"] #toolbar-menubar[inactive] ~ #TabsToolbar {
  -moz-padding-start: 5px !important; 
}

#appmenu-button .box-inherit.button-box {
  display: inherit !important;
}

#appmenu-button .box-inherit.button-box .button-menu-dropmarker {
  display: none !important;
}

#appmenu-button .button-icon {
  display: inherit !important;
  list-style-image: url("chrome://mozapps/skin/extensions/utilities2.png") !important;
  -moz-image-region: rect(0px, 18px, 18px, 0px) !important;
  margin: 0 !important;
  padding: 0 !important;
}

#appmenu-button {
  margin-left: 5px !important;
  padding: 0px !important;
  background: transparent !important;
  background-clip: padding-box !important;
  border: 0px solid !important;
  border-color: transparent !important;
  border-width: 0px !important;
  min-height: 18px !important;
  min-width: 18px !important;
  box-shadow: none !important;
  -moz-padding-start: 1px !important;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 500ms;
}

#nav-bar #appmenu-button {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

#appmenu-button:hover {
  border-radius: 3px !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}

#appmenu-button:hover:active,
#appmenu-button[checked="true"],
#appmenu-button[open="true"] {
  border-radius: 500em !important;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  transition-duration: 200ms;
}